.keenwcchat {
    margin: 25px 0;
}
#keenwcchat-message {
    clear: both;
    position: relative;
    padding-top: 5px;
    padding-bottom: 30px;
    border-bottom: 1px solid #707070;
}
#keenwcchat-message .keenwcchat_box {
    line-height: 0;
    margin: 0 0 20px;
}

#display-chat {
    max-height: 400px;
    overflow-x: scroll;
}

.keenwcchat .emojipicker {
    height: 44px;
    width: 44px;
    background-color: rgb(238, 238, 238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…4xMiwxODIuMDM0DQoJYzAsMCw2OS43OTMsNzAuNzA0LDE0MC40OTgsMCIvPg0KPC9zdmc+DQo=) center center no-repeat;
    background-size: 60%;
}

#keenwcchat-message .emojionepicker-picker {
    left: 0 !important;
    top: 74% !important;
}

.keenwcchat #display-chat .avatar {
    width: 45px;
    height: 50px;
    float: left;
}

.keenwcchat #display-chat .avatar img {
    border-radius: 500px;
    background: #B6C1C2;
    width: 100%;
}

.keenwcchat #display-chat .message {
    overflow: hidden;
}

.keenwcchat #display-chat .message p, .keenwcchat #display-chat .message p a {
    line-height: 1.4;
    font-size: 0.875rem;
    letter-spacing: .04rem;
    color: #151515;
    font-weight: 500;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.keenwcchat #display-chat .message p a {
    color: #1BB567;
}

.keenwcchat #display-chat .message p.name_time {
    font-weight: 600;
    font-size: 1rem;
    margin: 0 0 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.keenwcchat #display-chat .message p.name_time span {
    font-weight: 400;
    font-size: 0.75rem;
}

.keenwcchat #display-chat .replies {
    background: white;
}

.keenwcchat #display-chat .replies .avatar {
    margin-right: 10px;
}

.keenwcchat #display-chat .sent, .keenwcchat #display-chat .replies {
    padding: 19px;
}

.keenwcchat #display-chat .sent {
    background-color: #F2F2F2;
}

.keenwcchat #display-chat .sent .avatar {
    float: right;
    margin-left: 10px;
}

.keenwcchat #display-chat .replies .message {
    margin-left: 55px;
}

.keenwcchat #display-chat .sent .message {
    text-align: right;
    margin-right: 55px;
}

.keenwcchat #display-chat .sent .message p.name_time {
    flex-direction: row-reverse;
}

.keenwcchat #display-chat .replies .message p.name_time b {
    margin-right: 15px;
}

.keenwcchat #display-chat .sent .message p.name_time b {
    margin-left: 15px;
}

#keenwcchat-message .keenwcchat_box textarea {
    background: transparent;
    padding: 25px;
    width: 100%;
    height: 100px;
    border: 1px solid #707070;
    font-size: .85rem;
    line-height: 1.4;
    letter-spacing: .04rem;
    border-radius: 0 0 5px 5px;
    font-family: "Raleway", sans-serif;
    box-shadow: 0 1px 6px rgba(0,0,0,.16);
}

#keenwcchat-message .keenwcchat_box textarea::placeholder, #keenwcchat-message .keenwcchat_box textarea::-moz-input-placeholder, #keenwcchat-message .keenwcchat_box textarea::-ms-input-placeholder {
    font-size: .85rem;
    line-height: 1;
    color: #434343;
    letter-spacing: .04rem;
}

#keenwcchat-message .keenchat-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#keenwcchat-message .keenchat-footer #upload_image {
    border: 1px solid #707070;
    line-height: 1;
    font-size: 0.875rem;
    letter-spacing: .04rem;
    color: #434343;
    background: transparent;
    border-radius: 5px;
    padding: 12px 27px;
    margin-left: 45px;
}

#keenwcchat-message .keenchat-footer .keenwcchat-send {
    background: #1BB567;
    line-height: 1;
    font-size: 0.875rem;
    letter-spacing: .04rem;
    color: white;
    border-radius: 5px;
    padding: 12px 27px;
    text-transform: uppercase;
    text-decoration: none;
}

#keenwcchat-message .keenchat-footer .keenwcchat-send:focus {
    outline-offset: none;
    outline: 0;
}

#keenwcchat-message .emojionepicker-picker {
    z-index: inherit !important;
}
@media only screen and ( max-width: 767px ){
    .keenwcchat #display-chat .sent, .keenwcchat #display-chat .replies {
        padding: 12px;
    }
}

@media only screen and ( max-width: 420px ){
    #keenwcchat-message .keenchat-footer {
        flex-wrap: wrap;
    }

    #keenwcchat-message .keenchat-footer #upload_image {
        flex-grow: 1;
        margin-bottom: 20px;
        padding: 10px 27px;
    }

    #keenwcchat-message .emojionepicker-picker {
        top: 55% !important;
    }

    .keenwcchat #display-chat .message p.name_time {
        margin: 0;
    }

    #keenwcchat-message .keenchat-footer .keenwcchat-send {
        width: 100%;
        text-align: center;
    }
}