.keenwcchat {
    margin: 25px 0;
}
#keenwcchat-message {
    clear: both;
    padding-top: 5px;
}
#keenwcchat-message .keenwcchat_box {
    position: relative;
}
#keenwcchat-message textarea {
    background: rgba(224, 224, 224,0.7);
    padding-left: 10px !important;
    width: 100%;
    height: 100px;
}
#display-chat {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#display-chat > div:nth-child(even){
    background-color: #ddd;
}



#display-chat ul {
    list-style: none;
    margin: 0;
    padding:0;
}
#display-chat ul li {
    /* display: inline-block; */
    /* position: relative; */
    /* clear: both; */
    font-size: 1em;
    /* margin-bottom: 0; */
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding:4px 10px;
}
#display-chat ul li:nth-child(even) {
    background-color: #ddd;
}
#display-chat ul li p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}
#display-chat ul li p.chat_time {
    font-size: 0.7em;
    font-style: italic;
}
#display-chat ul li img:not(.emoji) {
    height: 25px;
    width: 25px;
    border-radius: 500px;
    z-index: 99;
    margin-top: -10px;
}
 #display-chat ul li.sent {
    /* float: right;
    background: rgba(224, 224, 224,1); */
}
#display-chat ul li.replies img:not(.emoji),
#display-chat ul li.sent img:not(.emoji) {
    left: 0;
    /* display: none; */
}
#display-chat ul li.replies + li.sent > img,
#display-chat ul li.sent + li.replies > img {
    /* display: inline-block; */
}
#display-chat ul li.replies + li.sent {
    text-align: right;
}
#display-chat ul li.replies {
    /* background: rgba(224, 224, 224,0.4); */
}

/* #display-chat ul li.sent p {
    border-right: 1px solid;
}
#display-chat ul li.replies p {
    border-left: 1px solid;
} */
#keenwcchat-message .typing-status {
    margin-bottom: 2px;
    font-size: 0.8em;
}
#keenwcchat-message .keenwcchat-send {
    float: right;
    text-decoration: none !important;
    background: #000;
    padding: 10px;
    color: #FFF;
    margin: 5px 0;
}

#display-chat ul li:first-child:after {}

#display-chat ul li.replies + li.sent,
#display-chat ul li.sent + li.replies {
    margin-top: 15px;
}
#display-chat ul li.replies + li.sent p:after,
#display-chat ul li.sent + li.replies p:after {

}
/* #display-chat ul li.replies + li.sent p:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left-color: rgba(224, 224, 224,1);
    border-right: 0;
    border-top: 0;
    margin-bottom: 0;
    margin-right: -5px;
    transform: rotate(134deg);
    z-index: 999;
}
#display-chat ul li.sent + li.replies p:after  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left-color: rgba(224, 224, 224,0.4);
    border-right: 0;
    border-bottom: 0;
    margin-top: 8px;
    margin-left: -5px;
    transform: rotate(45deg);
} */

.keenwcchat .emojipicker {
    height: 44px;
    width: 44px;
    background-color: rgb(238, 238, 238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…4xMiwxODIuMDM0DQoJYzAsMCw2OS43OTMsNzAuNzA0LDE0MC40OTgsMCIvPg0KPC9zdmc+DQo=) center center no-repeat;
    background-size: 60%;
}